*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    /* box-sizing: border-box; */
    font-family: 'Emplema One', sans-serif;
    font-size: 2.5vmax;
    /* color variables for light/dark-mode */
    --color-text: rgb(245, 173, 40);
    --color-toggle: rgba(206, 206, 206, 0.473);
    --bg: linear-gradient(145deg, rgb(24, 75, 90), rgb(36, 10, 85));
    --bg-cell-border: rgb(26, 169, 194);
    --bg-cell: rgb(0, 0, 0);
    --color-xo: #f0aa41;
    --color-xo-hover: #f0aa4133;
    --bg-winner: rgba(0, 0, 0, .9);
    --btn-text: rgb(0, 0, 0);
    --btn-text-hover: rgb(250, 255, 0);
    --btn-bk: rgb(255, 255, 255);
    --btn-bk-hover: rgb(0, 0, 0);
    --btn-border: rgb(255, 255, 255);
    --btn-border-hover: rgb(0, 217, 255);
    --btn-shadow: #3ce707;
}

html[data-theme='light'] {
    --color-toggle: rgb(209, 209, 209);
    --color-tg-back: rgba(60, 148, 199, 0.767);
    --bg: linear-gradient(145deg, rgb(218, 214, 5), rgb(112, 49, 20));
    --bg-cell: rgba(90, 101, 110, 0.877);
    --color-text: rgb(20, 17, 160);
    --color-xo: #1f3ff8;
    --color-xo-hover: #1f40f833;
    --btn-shadow: #da9a10;
}

section {
    display: flex;
    height: 100vh;
    color: var(--color-text);
    background: var(--bg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location-name {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.location-timezone,
.temperature {
    height: 15vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 3vmax;
}

.temperature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 3vmax;
}

.degree-section h2 {
    font-size: 4vmax;
}

.weather-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
}

.weather-icon {
    size: 10vh;
    width: auto;
}

.wind {
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: auto;
}

footer {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}




/* Dark-Mode toggle */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 5.2vmax;
    height: 2.7vmax;
    background: var(--color-toggle);
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 2vmax;
    height: 2vmax;
    background: var(--color-toggle);
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: var(--color-tg-back);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active::after {
    width: 4.5vw;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}
