/* global selector for Before and After  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Raleway&family=Roboto+Mono&display=swap');


*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;
}

html {
    --color-text: rgb(8, 133, 19);
    --btn-bk-img: linear-gradient(180deg, rgb(0, 102, 255), #ff7b00);
    --btn-border: rgb(1, 255, 77);
    --btn-shadow: #1078da;
}


body {
    background-color: hsl(240, 3%, 7%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vh, 1.5rem);
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
}

.key {
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 200), 
        var(--saturation, 1%), 
        calc(
            var(--lightness-offset, 0%) + 
            var(--lightness, 51%)
        )
    );
    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}


.key.wrong {
    --lightness: 23%;
}

.key.wrong-location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%
}

.key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%
}


.guess-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 0;
/*     grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em); */
    gap: .25em;
    border-bottom: 1em;
    border-radius: .25em;
    flex-shrink: 1;
    min-width: 0;
}


.tile {
    font-size: 2em;
    color: white;
    border: .05em solid hsl(240, 2%, 23%);
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
    min-width: 0;
}

.tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
    
}

.tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
}

.tile.shake {
    animation: shake 250ms ease-in-out;
}

.tile.flip {
    transform: rotateX(90deg);
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }
    30% {
        transform: translateX(5%);
    }
    40% {
        transform: translateX(-7.5%);
    }
    70% {
        transform: translateX(7.5%);
    }
    90% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(5%);
    }
    60% {
        transform: translateY(-25%);
    }
    80% {
        transform: translateY(2.5%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}


/* Difficulty Slider CSS */
.difficulty {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(177, 15, 15);
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }


/* Options Modal */
.options {
    color: #000000;
    fill: none; 
    background-color: #000000;
    border: 0px;
    width: 1px;
}

.options > svg {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    top: 5%;
    left: 93%;
    transform: translate(0%, -93%);   /* center in container  */
    transition: 500ms ease-in-out;
    transform: rotate(-90deg);
    position: fixed;
}

.options > svg:hover {
    transform: rotate(-30deg);
    transition: 500ms ease-in-out;
}

.options.active > svg {
    transform: rotate(10deg);
    transition: 500ms ease-in-out;
}

.modal {
    /* center in screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);   /* center in container  - scale 0 to hide */
    transition: 200ms ease-in-out;
    border: 1px solid #000000;
    border-radius: 10px;    /* curve edges */
    z-index: 10;
    background-color: #ffffff;
    min-width: 350px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);   /* scale 1 to show */
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid black;
    font-family: 'Emplema One', sans-serif;
    font-weight: 600;
    background-color: rgba(0,0,0, .14);
    font-weight: bold;
}

.modal-header .title {
    color: black;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(177, 15, 15);
    font-size: 1.5rem;
    background: none;
}

.modal-body {
    font-family: 'Catamaran', sans-serif;
    justify-content: space-evenly;
    font-size: smaller;
    font-weight: normal;
    padding: 20px 25px;
}

.modal-body ul span {
    color: rgb(30, 75, 158);
}

#overlay {
    position: fixed;
    opacity: 0;
    background-color: rgba(0,0,0, .4);
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal-begin {
    width: 10vmax;
    height: 5vh;
    background: none;
    border: 1px;
    margin: 3px;
    font-size: 2vmax;
    font-weight: 700;
    color: var(--color-text);
    background: var(--bg-intro);
    border-radius: 3px;
    cursor: pointer;
}

.modal-begin:hover {
    background-image: var(--btn-bk-img);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(2px, 2px, var(--btn-shadow));
    border: 4px double var(--btn-border);
    transition: ease-in-out;
    transition-delay: 50ms;
    transition-duration: 50ms;
}



