*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    /* box-sizing: border-box; */
    font-family: 'Emplema One', sans-serif;
    font-size: 1.5rem;
    /* color variables for light/dark-mode */
    --color-text: rgb(255, 255, 255);
    --color-toggle: rgba(206, 206, 206, 0.473);
    --bg: rgb(39, 41, 68);
    --bg-cell-border: rgb(26, 169, 194);
    --bg-cell: rgb(0, 0, 0);
    --color-xo: #f0aa41;
    --color-xo-hover: #f0aa4133;
    --bg-winner: rgba(0, 0, 0, .9);
    --btn-text: rgb(0, 0, 0);
    --btn-text-hover: rgb(250, 255, 0);
    --btn-bk: rgb(255, 255, 255);
    --btn-bk-hover: rgb(0, 0, 0);
    --btn-border: rgb(255, 255, 255);
    --btn-border-hover: rgb(0, 217, 255);
    --btn-shadow: #3ce707;
}

html[data-theme='light'] {
    --color-toggle: rgb(209, 209, 209);
    --color-tg-back: rgba(60, 148, 199, 0.767);
    --bg: rgb(90, 101, 110);
    --bg-cell: rgba(90, 101, 110, 0.877);
    --bg-cell-border: rgb(245, 173, 40);
    --color-xo: #1f3ff8;
    --color-xo-hover: #1f40f833;
    --btn-shadow: #da9a10;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;

}


section {
    display: flex;
    height: 100vh;
    color: var(--bg-cell-border);
    background: var(--bg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    width: 100vw;
    height: 60vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid var(--bg-cell-border);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after {
    background-color: var(--color-xo);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: var(--color-xo-hover);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--bg);
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-winner);
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 2.5rem;
    background: var(--btn-bk);
    color: var(--btn-text);
    border: 4px solid var(--btn-border);
    padding: .25em .5em;
    cursor: pointer;

}

.winning-message button:hover {
    font-size: 2.5rem;
    background: var(--btn-bk-hover);
    color: var(--btn-text-hover);
    border: 4px double var(--btn-border-hover);
    padding: .25em .5em;
    cursor: pointer;

}

.winning-message.show {
    display: flex;
}

/* Dark-Mode toggle */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: var(--color-toggle);
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: var(--color-toggle);
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: var(--color-tg-back);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active::after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}
