*, *::before, *::after {
    box-sizing: border-box;
    font-family: Catamaran, sans-serif;
    font-weight: normal;
    color: rgb(50, 118, 196);
}

body {
    background: linear-gradient(145deg, #333, #000);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    padding-top: 20px;
    display: flex;
    height: 70vh;
    max-width: 30vw;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    color: rgb(28, 145, 180);
}

.calc-buttons {
    display: flex;
    flex: 0 1 25%;
    max-height: 500px;
    max-height: 500px;
    min-width: 350px;
    max-width: 350px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.calc-buttons > button {

    height: 90px;
    width: 85px;
    font-family: 'Emplema One', sans-serif;
    cursor: pointer;
    font-weight: normal;
    font-size: 2.5vmax;
    border: 2px solid rgba(73, 120, 200, .5);
    background: linear-gradient(180deg, rgb(109, 240, 105), #6126be);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    color: rgb(109, 240, 105);
    filter: drop-shadow(2px, 2px, #007da3);
    text-align: center;
    margin: 1px;
    border-radius: 10px;
    z-index: 10;
}

.calc-buttons > button:hover {
    background-image: linear-gradient(180deg, rgb(255, 255, 255), #fbff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    color: rgb(251, 255, 14);
    filter: drop-shadow(2px, 2px, #3ce707);
    border: 4px double rgb(0, 217, 255);
    transition: ease-in-out;
    transition-delay: 50ms;
    transition-duration: 50ms;
    z-index: 20;
}

.calc-buttons .span-two {
    flex: 1 1 35%;
    width: 170px;
}

.output {
    grid-column: 1 / -1;
    min-height: 15vh; 
    min-width: 350px;
    max-width: 30vw;
    background: linear-gradient(180deg, rgba(73, 73, 73, .2), rgba(0, 0, 0, .75));
    color: rgba(20, 128, 190, 0.73);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 5px double rgba(200, 200, 200, .5);
    border-radius: 10px;
}


.output .previous-operand {
    color: rgba(180, 180, 180, 0.73);
    font-size: 2.5vmax;
}

.output .current-operand {
    color: rgba(255, 255, 255, 0.80);
    font-size: 3vmax;
}


footer {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-family: Catamaran, sans-serif;
    color: #000;
    background-size: 100%;
    font-size: 1.4vmax;
    font-weight: 400;
    text-align: center;
    margin: 5px;
}


