
/* Dark-Mode toggle */
.darkModeInput[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.darkModeLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 5.3vmax;
    height: 1.7vmax;
    background: var(--color-toggle);
    float: right;
    border-radius: 100px;
    position: relative;
}

.darkModeLabel::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 1vmax;
    height: 1.4vmax;
    background: var(--color-toggle);
    border-radius: 90px;
    transition: 0.3s;
}

.darkModeInput:checked + .darkModeLabel {
    background: var(--color-tg-back);
}

.darkModeInput:checked + .darkModeLabel::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.darkModeLabel:active::after {
    width: 4.5vw;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}


